# Ignore node.js Modules #
node_modules/
u.sh
convertplug.zip
bcore.sh
push.sh
Optimization.txt

# ignore PHPStorm extra directories
.idea/

# sass cache
.sass-cache

# map files
*.map

# Skip package file from versoning
*.zip

# ignore git inside subproject
admin/bsf-core/.git

# ignore PHPCS report files
phpcs-summary.log
phpcs-full.log

# Exclude OS specific files
.DS_Store

# Exclude composer's directories
vendor/

# Exclude exported settings
borders-for-default-menu.json
defaults.json
no-toggle-border-fix.json